.login-header {
    color: #fff;
    font-size: 28px;
    font-weight: 800;
    text-indent: 15px;
    width: 700px;
    margin: 150px 0 30px 0;
}

.login-container {
    background-color: #181a21;
    border-radius: 4px;
    padding: 34px 32px 24px;
    flex: 1;
    min-width: 636px;
    display: flex;
    flex-direction: row;
    margin-bottom: 150px;
}

.login-form {
    flex: 1;
    display: grid;
    gap: 12px;
    grid-template-columns: 1fr;
}

.qr-form {
    flex: 0;
    display: grid;
    gap: 4px;
    margin-left: 40px;
}

.qr-form .login-text {
    width: 205px;
}

.qr-form img {
    padding: 15px;
    background-color: white;
    border-radius: 10px;
    display: grid;
}

.login-text {
    font-size: 13px;
    line-height: 20px;
    color: #afafaf;
    text-transform: uppercase;
    letter-spacing: .02em;
    user-select: none;
}

.login-header-text {
    color: #1999ff;
    font-weight: 500;
}

.login-input {
    border-radius: 2px;
    color: #fff;
    padding: 10px;
    background-color: #32353c;
    outline: none;
    font-size: 15px;
    border: 1px solid #32353c;
    width: 100%;
    /* Genişliği tamamen kaplaması için */
    box-sizing: border-box;
    /* Padding ve border'ı hesaba katar */
}

.login-button {
    background: linear-gradient(90deg, #06BFFF 0%, #2D73FF 100%);
    border-radius: 2px;
    border: none;
    outline: none;
    padding: 12px;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    font-family: inherit;
    text-align: center;
    cursor: pointer;
}

.login-button:hover {
    background: linear-gradient(90deg, #06BFFF 30%, #2D73FF 100%);
}

.login-space {
    background: transparent;
    width: 100%;
    height: 18px;
}

.remember-container {
    display: flex;
    align-items: center;
}

.remember-container input {
    width: auto !important;
}

.remember-container label {
    color: #afafaf;
    font-size: 12px;
    user-select: none;
    padding-left: 6px;
}

.rick_roll {
    text-align: center;
    font-size: 12px;
    color: #afafaf;
}

.rick_roll a:hover {
    color: white;
}

.login_bottom_row {
    display: flex;
    flex-direction: row;
    padding-top: 48px;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    justify-content: center;
    background-color: #181A21;
}

.login_bottom_row_item {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 300px;
}

.login_bottom_row_item {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 300px;
}

.login-headline {
    font-size: 20px;
    font-weight: 800;
    color: white;
}

.rgstr {
    margin: 15px 0;
    padding: 5px 15px;
    font-size: 15px;
}

.login-subtext {
    font-size: 14px;
    color: #b8b6b4;
}